/* Centra título + card */
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  padding-bottom: 100px;
}

/* Título del sistema */
.titulo-sistema {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 40px;
  color: #000000;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.login-container {
  height: 100vh;
  width: 100vw; /* ✅ ocupa todo el ancho */
  background: url("../assets/wallpaper_login.jpg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tarjeta blanca centrada */
.login-card {
  background-color: #fff;
  width: 100%;
  max-width: 380px;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

/* Título */
.login-card h2 {
  color: #333;
  font-weight: 600;
}

/* Inputs */
.input-group-text {
  background-color: #f1f1f1;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

.form-control {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #ddd;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

/* Botón */
.btn-primary {
  background: linear;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(102, 16, 242, 0.3);
}

/* Adaptación móvil */
@media (max-width: 576px) {
  .login-card {
    margin: 1rem;
    padding: 1.5rem;
  }
}
